**/node_modules
android/
ios/
.github
src/assets/icons/sygnet.js
src/assets/icons/logo-negative.js
src/assets/icons/logo.js
serviceWorker.js
.prettierrc.json
CHANGELOG.md
ISSUE_TEMPLATE.md
jsconfig.json
migration.md
package.json
public/index.html
public/manifest.json
REACT.md
README.md
src/scss/_custom.scss
src/scss/_fixes.scss
src/scss/_variables.scss
src/scss/style.scss